#root, html, body {
  background-image: url("./assets/wooden.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.player-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.player-image {
    height: 400px;
    width: 200px;
}

.buttons-container {
    display: flex;
    width: 60%;
    justify-content: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}



.player:nth-child(2) {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.winner {
  width: 100px;
  height: 55px;
  margin: 10px auto;
  color: brown;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}

.button {
  font-size: 25px;
  font-family: Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
  border-radius: 25px;
  padding: 2% 4%;
  outline: none;
  margin: 0.6%;
  background-color:greenyellow;
}

.button:active {
  color: blue;
}

.button:hover {
  cursor: pointer;
  color:red;
}

.active {
    background-color: blue;
    color:white;
}

.daska{
  height: 400px;
  width: auto;
  display: flex;
  justify-content: center;
}